* {
  margin: 0;
  padding: 0;
}
body {
  /* display: flex; */
  height: 100vh;
  width: 100%;
}
/* #zplanecanvas{
    height: 50%;
    width: 80%;
} */

#allPassInputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 2%;
}

#inputLabel {
  font-size: large;
  font-weight: bold;
}

#realInput {
  height: 27px;
  width: 100%;
  font-weight: bold;
  border: groove;
  border-color: darkviolet;
  font-size: 113%;
}

#samples{
  width: 200px;
  height: 30px;
  /* padding: 10px; */
  /* border-color: aqua; */

}


#realInput::-webkit-inner-spin-button,
#realInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#imaginaryInput {
  height: 27px;
  width: 100%;
  font-weight: bold;
  border: groove;
  border-color: darkviolet;
  font-size: 113%;
}

#imaginaryInput::-webkit-inner-spin-button,
#imaginaryInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#plots {
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#addButton {
  margin-top: auto;
  font-size: large;
  font-weight:bold;
  color: aliceblue;
  background-color: rgba(0,0,0,0.9);
  width: 110px;
  height: 30px;
  border: 10px;
  border-color: blueviolet;
  border-radius: 10px;

}
#addButton:hover{
  background-color: rgba(0, 0, 0, 0.75);
}
