<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../static/js/phaseCorrection/complex.js"></script>
    <script src="../static/js/phaseCorrection/complex.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/phaseCorrection.css" />
  </head>
  <body>
    <!-- <canvas id="zplanecanvas" style="border:1px solid #d3d3d388;"></canvas>
    <h1>Welcome to phase correction page</h1>
    <label for="real">Real</label>
    <input type="number" id="real">
    <input type="number" id="imaginary"> -->
    <div id="allPassInputs">
      <div>
        <input type="checkbox" id="examplesCheckBox" onclick="examplesFunction()"/>
        <label id="inputLabel" for="examplesCheckBox">Examples</label>
        <br />
        <select id="samples" onchange="examplesFunction()">
          <option value="1+1j">1+1j</option>
          <option value="0.5+0j">0.5</option>
          <option value="1+3j">1+3j</option>
          <option value="2+0.5j">2+0.5j</option>
          <option value="0.2+0.3j">0.2+0.3j</option>
        </select>
      </div>
      <div>
        <label id="inputLabel" for="realInput">Real input</label>
        <br />
        <input type="number" id="realInput" />
      </div>
      <div>
        <label id="inputLabel" for="imaginaryInput">imaginary input</label>
        <br />
        <input type="number" id="imaginaryInput" />
      </div>
      <table id="table" border="1">
      </table>
      <button id="addButton">Add Filter</button>
    </div>
    <div id="plots">
      <div id="phasePlotting" style="height: 500px; width: 50%"></div>
      <div id="signalPhasePlotting" style="height: 500px; width: 50%"></div>
    </div>
    <!-- <script src="../static/js/z-plane.js"></script> -->
    <script src="../static/js/phaseCorrection/plotting.js"></script>
    <script src="../static/js/phaseCorrection/phaseCorrection.js"></script>
  </body>
</html>
